@media
only screen and (min-width: 551px)
only screen and (-webkit-device-pixel-ratio: 1),
only screen and (-moz-device-pixel-ratio: 1),
only screen and (-o-device-pixel-ratio: 1),
only screen and (device-pixel-ratio: 1),
only screen and (resolution: 1dppx)
{
{
	#navigationbuttonimage
	{
		display: none;
	}
}
@media only screen and (max-width: 550px) 
{
	#navbuttonimgcont
	{
		width: 100%;
		height: 100%;
	}
	div#content 
	{
		width: 100%;
	}
	#postlist
	{
		padding: 0.5em;
	}
	.game
	{
		min-width: 100%;
	}
	.projectslider, .projectblurb
	{
		width: 100%;
		flex: initial;
	}
	.projectslider
	{

	}
	.ms-container
	{
		max-width: 100%;
	}
	img#navigationimage
    {
        height: 100%;
        width: auto;
    }
	div#sitelogo 
	{
		width: 90%;
	}
	div#navigationbar 
	{
		width: 100%;
	}
	#navigationtitleimagecontainer 
	{
		
	}
	#navigationtitleimage 
	{
		text-align: center;
		float: none;
		width: 60%;
		height: 1cm;
		margin: 0 auto;
		display: block;
		opacity: 1;
		transition: none !important;
	}
	.scrollactive
	{
		opacity: 1;
	}
	#navigationbuttonimage
	{
		height: 100%;
		display: block;
		float: right;
		z-index: 8;
	}
	.mtoggle
	{
		z-index: 9;
	}
	#navigationmenu
	{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
	#navigationbar
	{
		overflow: visible;
	}
	#menu-main
	{
		display: none;
		padding-top: 50%;
		position: absolute;
		right: 0;
		height: auto;
		background-color: #9C0A1A;
		padding: 0.5em;
	}
	.menu-item a
	{
		color: #ff0d2d;
	}
	.menu-header
	{
		width: 2.5em;
		height: 100%;
		background-color: #333;
		float: right;
	}
	ul#menu-main
	{
		-webkit-box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.43);
		-moz-box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.43);
		box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.43);
		z-index: 999999;
	}
	#widebarshadow
	{
		background-image: url('../img/titleshadowmobile.png');
		z-index: -9;
		height: 6px;
	}
	.stickyalias
	{
		/**/
	}
	#whereandwhencontainer
	{
		display: block;
	}
	#blogtitleimagecontainer
	{
		width: 90%;
		padding: .5em;
	}
	.entry-date
	{
		display: none;
	}
	ul.menu li
	{
		font-size: 100%;
		float: right;
	}
	#comment
	{
		width: 100%;
	}
	html
	{
		margin: 0;
		padding: 0;
		width: 100%;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	body
	{
		background: #fff;
		margin: 0;
	}
	body, input, textarea
	{
		
	}
	h1, h2, h3, h4, h5, h6
	{ 
		font-weight: normal;
		clear: both;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		margin: 0;
	}
	hr
	{
		background-color: #99;
		border: 0;
		height: 1px;
		margin-bottom: 1.5em;
	}
	pre
	{
		font: 11px Monaco, monospace;
		line-height: 1.5;
		margin-bottom: 1.5em;
	}
	code
	{
		font: 11px Monaco, monospace;
	}
	p
	{
		margin: 4px 0 4px 0;
	}
}
